html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body{
    margin: 0;
}

#enter{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    z-index: -1;
}

#enter h1{
    font-size: 300%;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    font-weight: bold;
}

#enter h1 span{
    display: flex;
    align-items: end;
}

.dot{
    height: 10px;
    width: 10px;
    background-color: #000;
    border-radius: 50%;
    position: relative;
    top: -10px;
    margin-left: 10px;
}

#bg_dot{
    animation-name: wellcome;
    animation-duration: 1.8s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-fill-mode: forwards;  
}

@keyframes wellcome{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(215);
    }
}
#page{
    height: 100vh;
    width: 100vw;
    padding: 35px;
    font-family: Arial, sans-serif;
    position: static;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page h2{
    color: #fff;
    font-size: 200%;
    margin: 0;

}

#page p{
    color: #fff;
    font-size: 150%;
    font-style: italic;
    margin-top:-25;
}


